.wrap-header {
    background-color: aliceblue;

}

.wrap-header > header {
    width:960px; margin : 0 auto;
}

.wrap-footer {
    background-color: azure;
    clear: both;
}

.wrap-footer > footer{
    width:960px; margin : 0 auto;


}

.wrap-main {
    background-color: #ffd;
    width:960px; margin : 0 auto;

}

.wrap-main > section {
    width: 750px; float: left;
}

.wrap-main > aside{
    width: 200px; float: left;
}

