<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/reset.css" rel="stylesheet">
    <link href="/css/webpage_core.css" rel="stylesheet">
    <link href="/css/webpage_header.css" rel="stylesheet">
    <link href="/css/webpage_section.css" rel="stylesheet">
    <link href="/css/webpage_aside.css" rel="stylesheet">
    <link href="/css/webpage_footer.css" rel="stylesheet">


</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                dignissimos neque exercitationem?
            </header>
        </div>
        <div class="wrap-main">
            <section>
                <article>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                    ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                    dignissimos neque exercitationem?
                </article>
                <article>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                    ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                    dignissimos neque exercitationem?
                </article>

            </section>
            <aside>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam id, aliquid dolores ipsa error
                ipsum blanditiis at, totam ex quas, obcaecati ratione repellat laboriosam! Nemo necessitatibus sit
                dignissimos neque exercitationem?
            </aside>
        </div>
        <div class="wrap-footer">
            <footer>

            </footer>
        </div>
    </div>
</body>
</html>