<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name ="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/my.css" rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <header>
            <h1>Title</h1>
        </header>
        <div class="wrap-nav">
            <nav>
                <ul>
                    <li>menu1</li>
                    <li>menu1</li>
                    <li>menu1</li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content">
            <section>
                <article>
                    The quick brown fox jumped over the lazy dog.
                </article>
            </section>
            <aside>
            </aside>
        </div>
        <footer>
            <address>seoul</address>
            <div>test</div>
            <nav>
                <ul>
                    <li> test </li>
                    <li> test </li>
                    <li> test </li>
                    <li> test </li>
                </ul>

            </nav>
        </footer>
            <div>
                ad
            </div>
    </div>
</body>
</html>